STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
POSTGRES_URL=
STRIPE_API_KEY=""
REDIS_URL=127.0.0.1
S3_FILE_URL=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_REGION=""
S3_BUCKET=""
S3_ENDPOINT=""
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_SCOPES=""
DISCORD_REDIRECT_URL=""
LEVELCRUSH_AUTH_SERVER=""
LEVELCRUSH_AUTH_SERVER_SECRET=""
MEDUSA_STORE_URL=""
MEDUSA_BACKEND_URL=""
SANITY_API_TOKEN=""
SANITY_PROJECT_ID=""
SANITY_STUDIO_URL=""
SENDGRID_API_KEY=""
SENDGRID_FROM=""
DATABASE_SSL=false